@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Grand Cirus Coffee Shop</h1>
    <a style="color:white" asp-controller="CoffeeShop" asp-action="Registration">Register</a>


</div>

<style>
    body {
        background-image: url('../../coffeeshop.jpeg');
        background-size: cover;
    }

    h1 {
        background-image: url('../../white-birch-honed-plank-6x24-1.jpg');
    }
</style>